/* .envelope {
  border: 3px solid #e5dcdc;
  height: 100%;
  width: 50%;
  margin: auto;
  position: relative;
  padding: 170px 15px;
}

.receiver {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -21px 0 0 -61px;
  font-weight: bold;
}

.sender {
  position: absolute;
  left: 10px;
  top: 10px;
  font-weight: bold;
}

.stamp {
  position: absolute;
  border: 2px solid #e5dcdc;
  right: 10px;
  top: 10px;
  padding: 15px 5px 15px 5px;
}

.stampText {
  transform: rotate(-45deg);
  color: #8f8b8b;
  font-weight: bold;
} */

/* Credit Card component */
/* .card {
  height: 200px;
  width: 349px;
  margin: auto;
  position: relative;
  padding: 79px 0px;
  color: white;
  background-color: #5757bd;
  border-radius: 20px;
  box-sizing: border-box;
}

.bank {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 36px;
  font-weight: bold;
  position: absolute;
  top: 9px;
  right: 13px;
}

.cardNumber {
  position: absolute;
  font-family: "Courier New", Courier, monospace;
  font-size: 22px;
  left: 42%;
  top: 55%;
  margin: -13px 0 0 -88px;
}

.valid {
  position: absolute;
  margin: -1px 0 0 -42px;
  font-size: 12px;
}

.thru {
  position: absolute;
  margin: 11px 0 0 -38px;
  font-size: 12px;
}

.expiry {
  position: absolute;
  left: 50%;
  top: 55%;
  margin: 15px 0 0 -9px;
  font-family: "Courier New", Courier, monospace;
  font-size: 19px;
}

.name {
  position: absolute;
  bottom: 9px;
  left: 30px;
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
} */

/* Poster component */
html,
body {
  height: 100%;
}

.poster {
  border: 2px solid #2374bf;
  height: 300px;
  margin: auto;
  width: 35%;
  align-items: center;
  background-color: black;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.image {
  border: 2px solid #2374bf;
  padding: 8px 80px;
}

.image img {
  width: 86%;
}

.title {
  color: #2374bf;
  font-family: serif;
  font-size: 33px;
  font-weight: bold;
}

.text {
  color: white;
  font-family: sans-serif;
  font-size: 21px;
}
